@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

:root {
  --bg: #ffffff;
  --text: #212a1f;
  --green: #298931;
  --red: #a01c1a;
}

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--text);
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Arvo", serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #fffadc;
}

::-webkit-scrollbar-thumb {
  background: rgba(239, 245, 237, 0.89);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(33, 42, 31, 0.5);
}

/* Table styles */
table {
  border-collapse: collapse;
}

/* Chart tooltip fix */
.recharts-tooltip-wrapper {
  outline: none !important;
}
